[submodule "external/mcu/ST/CMSIS/Device/ST/STM32F1xx"]
	path = external/mcu/ST/CMSIS/Device/ST/STM32F1xx
	url = https://github.com/STMicroelectronics/cmsis-device-f1.git
[submodule "external/mcu/ST/STM32F1xx_HAL_Driver"]
	path = external/mcu/ST/STM32F1xx_HAL_Driver
	url = https://github.com/STMicroelectronics/stm32f1xx-hal-driver.git
[submodule "external/rtos/FreeRTOS"]
	path = external/rtos/FreeRTOS
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
